$gray1: #F5F5F5;
$gray2: #707070;
$szukaj: #382020;

$red1: rgb(190, 82, 82);
$red1hover: #bb3b3b;
$brown1: #483030;
$blue1: #635D76;

$violet1: #956EFF;
$violet2: #6A49C4;

$black1: #383737;


//products

$gray3: #e4e4e4;

$brown2: #5f3f3f;
