// responisve web
$eL: 1200px;
$L: 992px;
$M: 768px;
$S: 572px;
$eS: 410px;

$eLw: 1180px;
$Lw: 960px;
$Mw: 748px;
$Sw: 542px;

$Size1: 1140px;
$Size2: 960px;
$Size3: 720px;
$Size4: 540px;
$Size5: 360px;
$Size6: 180px;