// responisve web

$Size2rule: 1200px;
$Size3rule: 992px;
$Size4rule: 768px;
$Size5rule: 572px;
$Size6rule: 410px;

$Size1: 1140px;
$Size2: 960px;
$Size3: 720px;
$Size4: 540px;
$Size5: 360px;
$Size6: 180px;





