@mixin margins($zm){
    margin: {
        left: auto;
        right: auto;
    }
    width: $zm;
}

@mixin back1{
    .background1{
        background-color: $gray1;
        width: 100%;
    }
}

@mixin back2{
    .background2{
        background-color: $red1;
        width: 100%;
    }
}

@mixin back3{
    .background3{
        background-color: $black1;
        width: 100%;
    }
}

@mixin responsiveWidth{

    @media all and (max-width: $Size2rule){
        width: $Size2;
    }

    @media all and (max-width: $Size3rule){
        width: $Size3
    }

    @media all and (max-width: $Size4rule){
        width: $Size4;
    }

    @media all and (max-width: $Size5rule){
        width: 95%;
    }
}
