@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&display=swap&subset=latin-ext");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif;
}

.background1 {
  background-color: #F5F5F5;
  width: 100%;
}

#topBar {
  background-color: #F5F5F5;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 28px;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}

@media all and (max-width: 1200px) {
  #topBar {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  #topBar {
    width: 748px;
  }
}

@media all and (max-width: 768px) {
  #topBar {
    width: 542px;
  }
}

@media all and (max-width: 572px) {
  #topBar {
    width: 95%;
  }
}

@media all and (max-width: 572px) {
  #topBar {
    font-size: 26px;
  }
}

@media all and (max-width: 410px) {
  #topBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#topBarL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #483030;
}

@media all and (max-width: 572px) {
  #topBarL {
    font-size: 18px;
  }
}

#topBarImg {
  width: 56px;
}

@media all and (max-width: 572px) {
  #topBarImg {
    width: 36px;
  }
}

#topBarText {
  margin-left: 4px;
}

#topBarSklep {
  font-weight: 700;
}

#topBarBez {
  font-weight: 300;
  font-style: italic;
}

#topBarR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 0.54em;
  color: #635D76;
}

@media all and (max-width: 572px) {
  #topBarR {
    font-size: 0.50em;
  }
}

@media all and (max-width: 410px) {
  #topBarR {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#topBarR * {
  margin: 2px 4px;
  padding: 2px;
  cursor: pointer;
}

.background2 {
  background-color: #be5252;
  width: 100%;
}

.navBar {
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}

@media all and (max-width: 1200px) {
  .navBar {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .navBar {
    width: 748px;
  }
}

@media all and (max-width: 768px) {
  .navBar {
    width: 542px;
  }
}

@media all and (max-width: 572px) {
  .navBar {
    width: 95%;
  }
}

@media all and (max-width: 572px) {
  .navBar {
    font-size: 12px;
  }
}

@media all and (max-width: 410px) {
  .navBar {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.navBarL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 410px) {
  .navBarL {
    display: none;
  }
}

.navBarKat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 12px;
}

@media all and (max-width: 572px) {
  .navBarKat {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navBarKat img {
  width: 10px;
  margin-left: 3px;
}

.navBarR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 0;
}

.navBarR input {
  border: none;
  border-radius: 3px;
  padding: 3px;
  font-weight: 300;
  font-size: 0.85em;
}

@media all and (max-width: 410px) {
  .navBarR input::-webkit-input-placeholder {
    text-align: center;
  }
  .navBarR input:-ms-input-placeholder {
    text-align: center;
  }
  .navBarR input::-ms-input-placeholder {
    text-align: center;
  }
  .navBarR input::placeholder {
    text-align: center;
  }
}

.navBarR input:focus {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(133, 24, 24, 0.75);
  box-shadow: 0px 0px 7px 1px rgba(133, 24, 24, 0.75);
}

@media all and (max-width: 410px) {
  .navBarR {
    display: none;
  }
}

.navBar .navBarInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBarMenu {
  display: none;
  padding: 4px 0;
  text-align: center;
  cursor: pointer;
}

.navBarMenu .navBarMenuImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBarMenu img {
  height: 18px;
}

@media all and (max-width: 410px) {
  .navBarMenu {
    display: block;
    text-align: center;
  }
}

.navBarTiles {
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;
}

@media all and (max-width: 572px) {
  .navBarTiles {
    padding: 10px 6px;
  }
}

.navBarTiles:first-child {
  font-weight: 400;
  position: relative;
  padding: 0;
}

.navBarTiles:hover {
  background-color: #bb3b3b;
}

.navBarTiles > ul {
  position: absolute;
  background-color: #be5252;
  width: 100%;
  display: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 100;
}

.navBarTiles > ul > li {
  padding: 4px 12px;
  text-align: center;
  font-weight: 300;
}

.navBarTiles > ul > li:hover {
  background-color: #bb3b3b;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.navBarTiles:hover > ul {
  display: block;
}

@media all and (max-width: 410px) {
  .navBarTiles:hover > ul {
    position: static;
  }
}

.navBarLRShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.gray2Border {
  border-bottom: 1px solid #707070;
}

.mainContent {
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}

@media all and (max-width: 1200px) {
  .mainContent {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .mainContent {
    width: 748px;
  }
}

@media all and (max-width: 768px) {
  .mainContent {
    width: 542px;
  }
}

@media all and (max-width: 572px) {
  .mainContent {
    width: 95%;
  }
}

.mainContentSlide {
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}

.mainContentSlide img {
  width: 200px;
}

.mainContentBlocksOverScreen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-25%);
          transform: translate(-25%);
}

.mainContentBlock {
  width: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes slidingBar {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  2% {
    -webkit-transform: translate(-236px);
            transform: translate(-236px);
  }
  16% {
    -webkit-transform: translate(-236px);
            transform: translate(-236px);
  }
  18% {
    -webkit-transform: translate(-472px);
            transform: translate(-472px);
  }
  32% {
    -webkit-transform: translate(-472px);
            transform: translate(-472px);
  }
  34% {
    -webkit-transform: translate(-708px);
            transform: translate(-708px);
  }
  48% {
    -webkit-transform: translate(-708px);
            transform: translate(-708px);
  }
  50% {
    -webkit-transform: translate(-944px);
            transform: translate(-944px);
  }
  64% {
    -webkit-transform: translate(-944px);
            transform: translate(-944px);
  }
  66% {
    -webkit-transform: translate(-1180px);
            transform: translate(-1180px);
  }
  80% {
    -webkit-transform: translate(-1180px);
            transform: translate(-1180px);
  }
  82% {
    -webkit-transform: translate(-1416px);
            transform: translate(-1416px);
  }
  100% {
    -webkit-transform: translate(-1416px);
            transform: translate(-1416px);
  }
}

@keyframes slidingBar {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  2% {
    -webkit-transform: translate(-236px);
            transform: translate(-236px);
  }
  16% {
    -webkit-transform: translate(-236px);
            transform: translate(-236px);
  }
  18% {
    -webkit-transform: translate(-472px);
            transform: translate(-472px);
  }
  32% {
    -webkit-transform: translate(-472px);
            transform: translate(-472px);
  }
  34% {
    -webkit-transform: translate(-708px);
            transform: translate(-708px);
  }
  48% {
    -webkit-transform: translate(-708px);
            transform: translate(-708px);
  }
  50% {
    -webkit-transform: translate(-944px);
            transform: translate(-944px);
  }
  64% {
    -webkit-transform: translate(-944px);
            transform: translate(-944px);
  }
  66% {
    -webkit-transform: translate(-1180px);
            transform: translate(-1180px);
  }
  80% {
    -webkit-transform: translate(-1180px);
            transform: translate(-1180px);
  }
  82% {
    -webkit-transform: translate(-1416px);
            transform: translate(-1416px);
  }
  100% {
    -webkit-transform: translate(-1416px);
            transform: translate(-1416px);
  }
}

.slidingBar {
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
  overflow: hidden;
}

@media all and (max-width: 1200px) {
  .slidingBar {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .slidingBar {
    width: 748px;
  }
}

@media all and (max-width: 768px) {
  .slidingBar {
    width: 542px;
  }
}

@media all and (max-width: 572px) {
  .slidingBar {
    width: 95%;
  }
}

.slidingBarOverScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-animation-name: slidingBar;
          animation-name: slidingBar;
  -webkit-animation-duration: 70s;
          animation-duration: 70s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.slidingBarTile {
  width: 236px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slidingBar img {
  width: 40%;
}

.violet {
  background-color: #956EFF;
  padding-top: 30px;
}

.rodPicture {
  background: url("../img/rodPicture.png");
  width: 100%;
}
