@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&display=swap&subset=latin-ext");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif;
}

.background1 {
  background-color: #F5F5F5;
  width: 100%;
}

#topBar {
  background-color: #F5F5F5;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 28px;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
}

@media all and (max-width: 1200px) {
  #topBar {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  #topBar {
    width: 720px;
  }
}

@media all and (max-width: 768px) {
  #topBar {
    width: 540px;
  }
}

@media all and (max-width: 572px) {
  #topBar {
    width: 95%;
  }
}

@media all and (max-width: 572px) {
  #topBar {
    font-size: 26px;
  }
}

@media all and (max-width: 410px) {
  #topBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#topBarL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #483030;
}

@media all and (max-width: 572px) {
  #topBarL {
    font-size: 18px;
  }
}

@media all and (max-width: 410px) {
  #topBarL {
    font-size: 26px;
  }
}

#topBarImg {
  width: 56px;
}

@media all and (max-width: 410px) {
  #topBarImg {
    width: 80px;
  }
}

#topBarText {
  margin-left: 4px;
}

#topBarSklep {
  font-weight: 700;
}

#topBarBez {
  font-weight: 300;
  font-style: italic;
}

#topBarR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 0.54em;
  color: #635D76;
}

@media all and (max-width: 572px) {
  #topBarR {
    font-size: 0.58em;
  }
}

@media all and (max-width: 410px) {
  #topBarR {
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#topBarR * {
  margin: 2px 4px;
  padding: 2px;
  cursor: pointer;
}

@media all and (max-width: 572px) {
  #topBarR * {
    margin: 10px 0;
  }
}

.background2 {
  background-color: #be5252;
  width: 100%;
}

.navBar {
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
}

@media all and (max-width: 1200px) {
  .navBar {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .navBar {
    width: 720px;
  }
}

@media all and (max-width: 768px) {
  .navBar {
    width: 540px;
  }
}

@media all and (max-width: 572px) {
  .navBar {
    width: 95%;
  }
}

@media all and (max-width: 572px) {
  .navBar {
    font-size: 12px;
  }
}

@media all and (max-width: 410px) {
  .navBar {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.navBarL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 410px) {
  .navBarL {
    display: none;
  }
}

.navBarKat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 12px;
}

@media all and (max-width: 572px) {
  .navBarKat {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navBarKat img {
  width: 10px;
  margin-left: 3px;
}

.navBarR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 0;
}

.navBarR input {
  border: none;
  border-radius: 3px;
  padding: 3px;
  font-weight: 300;
  font-size: 0.85em;
}

@media all and (max-width: 410px) {
  .navBarR input::-webkit-input-placeholder {
    text-align: center;
  }
  .navBarR input:-ms-input-placeholder {
    text-align: center;
  }
  .navBarR input::-ms-input-placeholder {
    text-align: center;
  }
  .navBarR input::placeholder {
    text-align: center;
  }
}

.navBarR input:focus {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(133, 24, 24, 0.75);
  box-shadow: 0px 0px 7px 1px rgba(133, 24, 24, 0.75);
}

@media all and (max-width: 410px) {
  .navBarR {
    display: none;
  }
}

.navBar .navBarInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBarMenu {
  display: none;
  padding: 4px 0;
  text-align: center;
  cursor: pointer;
}

.navBarMenu .navBarMenuImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBarMenu img {
  height: 30px;
}

@media all and (max-width: 410px) {
  .navBarMenu {
    display: block;
    text-align: center;
  }
}

.navBarTiles {
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;
}

@media all and (max-width: 572px) {
  .navBarTiles {
    padding: 10px 6px;
  }
}

.navBarTiles:first-child {
  font-weight: 400;
  position: relative;
  padding: 0;
}

.navBarTiles:hover {
  background-color: #bb3b3b;
}

.navBarTiles > ul {
  position: absolute;
  background-color: #be5252;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 100;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  visibility: hidden;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

@media all and (max-width: 410px) {
  .navBarTiles > ul {
    display: none;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    visibility: visible;
  }
}

.navBarTiles > ul > li {
  padding: 4px 12px;
  text-align: center;
  font-weight: 300;
}

.navBarTiles > ul > li:hover {
  background-color: #bb3b3b;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.navBarTiles:hover > ul {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  visibility: visible;
}

.navBarLRShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.loginBoxContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginBoxMiddle {
  position: fixed;
  top: 30%;
  padding: 30px;
  background-color: #635D76;
  opacity: 0.98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.loginBoxMiddle .Title {
  font-size: 30px;
  color: #F5F5F5;
  margin-bottom: 10px;
}

.loginBoxMiddle input {
  margin: 10px 0;
  padding: 4px;
  width: 200px;
}

#forward {
  position: fixed;
  top: 0;
  left: 100px;
}

#backward {
  position: fixed;
  top: 0;
}

.gray2Border {
  border-bottom: 1px solid #707070;
}

.mainContent {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  font-size: 34px;
}

.mainContentWrapper {
  position: relative;
}

.mainContentSlide {
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}

.mainContentSlideTitle {
  padding-bottom: 20px;
  color: #bb3b3b;
}

.mainContentBlocksOverScreen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: left 0.9s ease-out;
  transition: left 0.9s ease-out;
}

.mainContentBlock {
  width: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  color: #635D76;
  font-weight: 300;
  font-size: 0.62em;
}

.mainContentBlockMiddle {
  width: 92%;
}

.mainContentBlockMiddle .imgScalableHeight {
  position: relative;
  padding-bottom: 73%;
}

.mainContentBlockMiddle img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.97;
  border-radius: 2px;
}

.mainContentButtons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.mainContent .buttonForward, .mainContent .buttonBackward {
  position: absolute;
  top: 50%;
  opacity: 0.85;
}

.mainContent .buttonForward img, .mainContent .buttonBackward img {
  width: 22px;
}

.mainContent .buttonForward {
  right: -13px;
}

.mainContent .buttonBackward {
  left: -13px;
}

.mainContent .buttonBackward img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media all and (max-width: 1200px) {
  .mainContent {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .mainContent {
    width: 720px;
  }
  .mainContentBlock {
    width: 240px;
  }
}

@media all and (max-width: 768px) {
  .mainContent {
    width: 540px;
  }
  .mainContentBlock {
    width: 50%;
  }
}

@media all and (max-width: 572px) {
  .mainContent {
    width: 360px;
  }
}

@media all and (max-width: 410px) {
  .mainContent {
    width: 240px;
  }
  .mainContentBlock {
    width: 100%;
  }
}

.slidingBar {
  overflow: hidden;
}

.slidingBarOverScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 0;
  -webkit-transition: left 1.5s ease;
  transition: left 1.5s ease;
}

.slidingBarTile {
  width: 20%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slidingBarTile img {
  width: 70px;
}

@media all and (max-width: 1200px) {
  .slidingBarTile {
    width: 25%;
  }
}

@media all and (max-width: 768px) {
  .slidingBarTile {
    width: 50%;
  }
}

@media all and (max-width: 410px) {
  .slidingBarTile {
    width: 100%;
  }
}

.violet {
  background-color: #956EFF;
  padding-top: 14px;
  width: 100%;
}

.rodPicture {
  background-image: url("../img/rodPicture.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 18%;
  position: relative;
}

.rodPicture div {
  position: absolute;
}

.textContentBlock {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  font-size: 26px;
  padding: 36px 0;
}

@media all and (max-width: 1200px) {
  .textContentBlock {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .textContentBlock {
    width: 720px;
  }
}

@media all and (max-width: 768px) {
  .textContentBlock {
    width: 540px;
  }
}

@media all and (max-width: 572px) {
  .textContentBlock {
    width: 95%;
  }
}

.textContentBlockTitle {
  color: #6A49C4;
  font-style: italic;
  padding-bottom: 14px;
}

.textContentBlockText {
  font-size: 0.84em;
  color: #956EFF;
  font-weight: 300;
}

.textContentBlock .w100 {
  background-color: #6A49C4;
  color: white;
  font-weight: 400;
  padding: 2px;
  border-radius: 1px;
}

@media all and (max-width: 768px) {
  .textContentBlock {
    font-size: 20px;
  }
}

@media all and (max-width: 572px) {
  .textContentBlock {
    font-size: 18px;
    line-height: 1.55;
  }
  .textContentBlockTitle {
    text-align: center;
    padding-bottom: 4px;
  }
  .textContentBlockText {
    text-align: center;
  }
}

@media all and (max-width: 410px) {
  .textContentBlock {
    font-size: 16px;
  }
}

.background3 {
  background-color: #383737;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  padding: 40px 0;
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1200px) {
  .footer {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .footer {
    width: 720px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    width: 540px;
  }
}

@media all and (max-width: 572px) {
  .footer {
    width: 95%;
  }
}

.footer .shopText, .footer .categoriesText {
  font-size: 0.55em;
  font-weight: 300;
  padding-top: 14px;
}

.footer .shopText div, .footer .categoriesText div {
  padding: 4px 0;
  cursor: pointer;
}

.hide {
  display: none;
}
