@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&display=swap&subset=latin-ext");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif;
}

.background1 {
  background-color: #F5F5F5;
  width: 100%;
}

#topBar {
  background-color: #F5F5F5;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 28px;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
}

@media all and (max-width: 1200px) {
  #topBar {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  #topBar {
    width: 720px;
  }
}

@media all and (max-width: 768px) {
  #topBar {
    width: 540px;
  }
}

@media all and (max-width: 572px) {
  #topBar {
    width: 95%;
  }
}

@media all and (max-width: 572px) {
  #topBar {
    font-size: 26px;
  }
}

@media all and (max-width: 410px) {
  #topBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#topBarL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #483030;
}

@media all and (max-width: 572px) {
  #topBarL {
    font-size: 18px;
  }
}

@media all and (max-width: 410px) {
  #topBarL {
    font-size: 26px;
  }
}

#topBarImg {
  width: 56px;
}

@media all and (max-width: 410px) {
  #topBarImg {
    width: 80px;
  }
}

#topBarText {
  margin-left: 4px;
}

#topBarSklep {
  font-weight: 700;
}

#topBarBez {
  font-weight: 300;
  font-style: italic;
}

#topBarR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 0.54em;
  color: #635D76;
}

@media all and (max-width: 572px) {
  #topBarR {
    font-size: 0.58em;
  }
}

@media all and (max-width: 410px) {
  #topBarR {
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#topBarR * {
  margin: 2px 4px;
  padding: 2px;
  cursor: pointer;
}

@media all and (max-width: 572px) {
  #topBarR * {
    margin: 10px 0;
  }
}

.background2 {
  background-color: #be5252;
  width: 100%;
}

.navBar {
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
}

@media all and (max-width: 1200px) {
  .navBar {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .navBar {
    width: 720px;
  }
}

@media all and (max-width: 768px) {
  .navBar {
    width: 540px;
  }
}

@media all and (max-width: 572px) {
  .navBar {
    width: 95%;
  }
}

@media all and (max-width: 572px) {
  .navBar {
    font-size: 12px;
  }
}

@media all and (max-width: 410px) {
  .navBar {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.navBarL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 410px) {
  .navBarL {
    display: none;
  }
}

.navBarKat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 12px;
}

@media all and (max-width: 572px) {
  .navBarKat {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navBarKat img {
  width: 10px;
  margin-left: 3px;
}

.navBarR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 0;
}

.navBarR input {
  border: none;
  border-radius: 3px;
  padding: 3px;
  font-weight: 300;
  font-size: 0.85em;
}

@media all and (max-width: 410px) {
  .navBarR input::-webkit-input-placeholder {
    text-align: center;
  }
  .navBarR input:-ms-input-placeholder {
    text-align: center;
  }
  .navBarR input::-ms-input-placeholder {
    text-align: center;
  }
  .navBarR input::placeholder {
    text-align: center;
  }
}

.navBarR input:focus {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(133, 24, 24, 0.75);
  box-shadow: 0px 0px 7px 1px rgba(133, 24, 24, 0.75);
}

@media all and (max-width: 410px) {
  .navBarR {
    display: none;
  }
}

.navBar .navBarInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBarMenu {
  display: none;
  padding: 4px 0;
  text-align: center;
  cursor: pointer;
}

.navBarMenu .navBarMenuImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navBarMenu img {
  height: 30px;
}

@media all and (max-width: 410px) {
  .navBarMenu {
    display: block;
    text-align: center;
  }
}

.navBarTiles {
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;
}

@media all and (max-width: 572px) {
  .navBarTiles {
    padding: 10px 6px;
  }
}

.navBarTiles:first-child {
  font-weight: 400;
  position: relative;
  padding: 0;
}

.navBarTiles:hover {
  background-color: #bb3b3b;
}

.navBarTiles > ul {
  position: absolute;
  background-color: #be5252;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 100;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  visibility: hidden;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

@media all and (max-width: 410px) {
  .navBarTiles > ul {
    display: none;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    visibility: visible;
  }
}

.navBarTiles > ul > li {
  padding: 4px 12px;
  text-align: center;
  font-weight: 300;
}

.navBarTiles > ul > li:hover {
  background-color: #bb3b3b;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.navBarTiles:hover > ul {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  visibility: visible;
}

.navBarLRShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.loginBoxContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginBoxMiddle {
  position: fixed;
  top: 30%;
  padding: 30px;
  background-color: #c5c5c5;
  opacity: 0.98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.loginBoxMiddle .Title {
  font-size: 30px;
  font-weight: 300;
  color: #443939;
  margin-bottom: 10px;
}

.loginBoxMiddle input {
  margin: 10px 0;
  padding: 4px;
  width: 200px;
  outline: none;
}

.loginBoxMiddle button {
  cursor: pointer;
}

.loginBoxMiddle .exit {
  position: absolute;
  width: 14px;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.loginBoxMiddle .exit img {
  width: 100%;
}

.background3 {
  background-color: #383737;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  padding: 40px 0;
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1200px) {
  .footer {
    width: 960px;
  }
}

@media all and (max-width: 992px) {
  .footer {
    width: 720px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    width: 540px;
  }
}

@media all and (max-width: 572px) {
  .footer {
    width: 95%;
  }
}

.footer .shopText, .footer .categoriesText {
  font-size: 0.55em;
  font-weight: 300;
  padding-top: 14px;
}

.footer .shopText div, .footer .categoriesText div {
  padding: 4px 0;
  cursor: pointer;
}

.footer .icons {
  font-size: 18px;
}

.footer .icons .phone, .footer .icons .addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  font-size: 16px;
}

.footer .icons .phone img, .footer .icons .addres img {
  width: 40px;
  padding-right: 10px;
}

.footer .icons .addres img {
  width: 35px;
  margin-left: 20px;
}

.productsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 10px;
}

.productsWrapper > .left {
  background-color: #e4e4e4;
  color: #5f3f3f;
  font-size: 28px;
  padding: 0 30px;
  margin-top: 65px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.productsWrapper > .left .filter {
  margin-top: 20px;
}

.productsWrapper > .left .categories {
  margin: 20px 0;
  font-size: 0.8em;
}

.productsWrapper > .left .categories label {
  font-size: 0.57em;
}

.productsWrapper > .left .price {
  font-size: 0.8em;
}

.productsWrapper > .left .price .priceLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productsWrapper > .left .price #priceRange {
  background-color: #e4e4e4;
  border: 0;
  font-weight: bold;
}

.productsWrapper > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.productsWrapper > .right .sortPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  padding: 0 5px;
  border-radius: 5px;
  color: #5f3f3f;
  background-color: #e4e4e4;
  margin: 10px 0;
}

.productsWrapper > .right .sortPanel * {
  margin-left: 2px;
  margin-right: 2px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.product > .content {
  padding-left: 10px;
}

.product .price {
  font-weight: 700;
}

.product .productName {
  font-size: 0.8em;
}

.product .description {
  font-size: 0.8em;
  text-align: justify;
  margin-top: 10px;
}

.hide {
  display: none;
}
