@import '../mix/_all.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&display=swap&subset=latin-ext');

*,*:before, *:after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

img{
    display: block;
}

input{
    font-family: inherit;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
}


