.loginBoxContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginBoxMiddle{
    position: fixed;
    top: 30%;
    padding: 30px;
    // background-color: $blue1;
    background-color: #c5c5c5;
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;


    .Title{
        font-size: 30px;
        // font-style: italic;
        font-weight: 300;
        // color: $gray1;
        color: #443939;
        margin-bottom: 10px;
    }

    input{
        margin: 10px 0;
        padding: 4px;
        width: 200px;
        outline: none;
    }

    button{
        cursor: pointer;
    }


    .exit{
        $distance: 8px;

        position: absolute;
        width: 14px;
        right: $distance;
        top: $distance;
        cursor: pointer;

        img{
            width: 100%;
        }
    }
}

