.loginBoxContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginBoxMiddle{
    position: fixed;
    top: 30%;
    padding: 30px;
    background-color: $blue1;
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;


    .Title{
        font-size: 30px;
        color: $gray1;
        margin-bottom: 10px;
    }

    input{
        margin: 10px 0;
        padding: 4px;
        width: 200px;
    }

    button{
        // font-family: 'Lato';
    }
}

