@keyframes slidingBar{
    0% {transform:  translate(0);}

    2% {transform:  translate(-$eLw/5);}
    16% {transform:  translate(-$eLw/5);}

    18% {transform:  translate(2*(-$eLw/5));}
    32% {transform:  translate(2*(-$eLw/5));}

    34% {transform:  translate(3*(-$eLw/5));}
    48% {transform:  translate(3*(-$eLw/5));}

    50% {transform:  translate(4*(-$eLw/5));}
    64% {transform:  translate(4*(-$eLw/5));}

    66% {transform:  translate(5*(-$eLw/5));}
    80% {transform:  translate(5*(-$eLw/5));}

    82% {transform:  translate(6*(-$eLw/5))}
    100% {transform:  translate(6*(-$eLw/5))}
}

.slidingBar{

    @include margins($eLw);
    @include responsiveWidth;
    overflow: hidden;


    &OverScreen{
        display: flex;
        width: 100%;
        // transition: all 3s ease;
        animation-name: slidingBar;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    &Tile{
        width: $eLw/5;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & img{
        width: 40%;
    }
}

